body {
  background-color: #dcd7c9;
}
h1 {
  background-color: #2c3639;
  text-align: center;
  border-radius: 10px;
  color: #f0ebe3;
}

h2,
h3 {
  color: #2c3639;
}

li,
a {
  color: #3f4e4f;
}

img {
  height: auto;
  width: 400px;
}
